<div class="op1">
    <mat-card class="card">
    <mat-card-title class="titulo1">Free</mat-card-title>
    <mat-card-subtitle>
      <span class="reais">R$ 00,</span>
    <span class="centavos">00</span>
    <span class="periodo">/mês</span>
    </mat-card-subtitle>
    <mat-card-content>
      <p class="subtitulo">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <p class="info">
        <img src="/assets/check.svg">
        Lorem ipsum dolor sit amet
      </p>
      <p class="info">
        <img src="/assets/check.svg">
        Lorem ipsum dolor sit amet
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-button>ASSINAR</button>
    </mat-card-actions>
  </mat-card>
</div>
